* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(80, 80, 164), rgb(131, 131, 231));
}
.login-container {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 450px;
    padding: 50px;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
}

label {
   display: block;
}

.form-control {
    text-align: left;
}

#loginButton {
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#loginButton:hover {
    background-color: white;
    color: blue;
}

.error-message {
    color: red;
}