body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.header {
    text-align: center;
}
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.pricing-card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.pricing-header {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.feature-list {
    list-style-type: none ;
    padding: 0;
    text-align: left;
}

.feature-list li {
    margin-bottom: 10px;
}

.feature-list li::before {
    content: "⮞ ";
}

.cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}